@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300; /* Light */
	font-display: swap;
	src: url("/assets/fonts/static/OpenSans-Light.woff2") format("woff2"),
		url("/assets/fonts/static/OpenSans-Light.ttf") format("truetype");
}

@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 300; /* Light Italic */
	font-display: swap;
	src: url("/assets/fonts/static/OpenSans-LightItalic.woff2") format("woff2"),
		url("/assets/fonts/static/OpenSans-LightItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400; /* Regular */
	font-display: swap;
	src: url("/assets/fonts/static/OpenSans-Regular.woff2") format("woff2"),
		url("/assets/fonts/static/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 400; /* Regular Italic */
	font-display: swap;
	src: url("/assets/fonts/static/OpenSans-Italic.woff2") format("woff2"),
		url("/assets/fonts/static/OpenSans-Italic.ttf") format("truetype");
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 500; /* Medium */
	font-display: swap;
	src: url("/assets/fonts/static/OpenSans-Medium.woff2") format("woff2"),
		url("/assets/fonts/static/OpenSans-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 500; /* Medium Italic */
	font-display: swap;
	src: url("/assets/fonts/static/OpenSans-MediumItalic.woff2") format("woff2"),
		url("/assets/fonts/static/OpenSans-MediumItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600; /* SemiBold */
	font-display: swap;
	src: url("/assets/fonts/static/OpenSans-SemiBold.woff2") format("woff2"),
		url("/assets/fonts/static/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 600; /* SemiBold Italic */
	font-display: swap;
	src: url("/assets/fonts/static/OpenSans-SemiBoldItalic.woff2") format("woff2"),
		url("/assets/fonts/static/OpenSans-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700; /* Bold */
	font-display: swap;
	src: url("/assets/fonts/static/OpenSans-Bold.woff2") format("woff2"),
		url("/assets/fonts/static/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 700; /* Bold Italic */
	font-display: swap;
	src: url("/assets/fonts/static/OpenSans-BoldItalic.woff2") format("woff2"),
		url("/assets/fonts/static/OpenSans-BoldItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 800; /* ExtraBold */
	font-display: swap;
	src: url("/assets/fonts/static/OpenSans-ExtraBold.woff2") format("woff2"),
		url("/assets/fonts/static/OpenSans-ExtraBold.ttf") format("truetype");
}

@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 800; /* ExtraBold Italic */
	font-display: swap;
	src: url("/assets/fonts/static/OpenSans-ExtraBoldItalic.woff2")
		format("woff2"), url("/assets/fonts/static/OpenSans-ExtraBoldItalic.ttf")
		format("truetype");
}

html,
body {
	@apply text-fg bg-bg overflow-x-hidden;
}

.link.active {
	@apply font-bold;
}

.incident.active {
	@apply bg-bg3;
}

html {
	font-size: 16px;
}

@media (min-width: 640px) {
	html {
		font-size: 17px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 18px;
	}
}

.loader {
	width: 40px;
	aspect-ratio: 1;
	--c: no-repeat linear-gradient(#403d39 0 0);
	background: var(--c), var(--c), var(--c);
	animation: l15-1 1s infinite, l15-2 1s infinite;
}

@keyframes l15-1 {
	0%,
	100% {
		background-size: 20% 100%;
	}
	33%,
	66% {
		background-size: 20% 40%;
	}
}

@keyframes l15-2 {
	0%,
	33% {
		background-position: 0 0, 50% 100%, 100% 100%;
	}
	66%,
	100% {
		background-position: 100% 0, 0 100%, 50% 100%;
	}
}

:root {
	--nav-height: 3rem;
}

.nav-height {
	height: var(--nav-height);
}

@media (min-width: 768px) {
	:root {
		--nav-height: 4rem;
	}
}

@media (min-width: 1024px) {
	:root {
		--nav-height: 5rem;
	}
}

.pt-nav-height {
	padding-top: var(--nav-height);
}

.page-height {
	height: calc(100vh - var(--nav-height));
}

.md-page-height {
	height: auto;
}

@media (min-width: 768px) {
	.md-page-height {
		height: calc(100vh - var(--nav-height));
	}
}
